.root {
  .content {
    display: flex;
    gap: 15px;

    .postsList {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }

    .contentRight {
      max-width: 365px;
    }
  }
}
