.root {
  .content {
    display: flex;
    gap: 15px;

    .postsList {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }

    .contentRight {
      max-width: 365px;
      display: flex;
      flex-direction: column;
    }

    .menuButton {
      display: none;
    }

    @media (max-width: 473px) {
      .blocks {
        display: none;
      }

      .menuButton {
        display: block;
      }
    }
  }
}
