.root {
  position: relative;
  padding: 20px;
  height: 100%;
  max-height: calc(100vh - 136px);

  .messagesList {
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: auto;
    max-height: calc(100vh - 136px);
    height: 100%;
    padding-bottom: 60px;
  }

  p {
    margin: 0;
  }

  .messageText {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }

  .timeLabel {
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    color: rgb(161, 160, 172);
  }

  .doctorMessage {
    align-self: flex-end;
    max-width: 520px;
    min-width: 220px;
    border-radius: 12px 12px 0px;
    padding: 15px 12px;
    background-color: rgb(115, 87, 255);

    .messageTime {
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      color: rgb(255, 255, 255);
      margin-bottom: 12px;
    }
  }

  .patientMessage {
    align-self: flex-end;
    max-width: 520px;
    min-width: 220px;
    border-radius: 12px 12px 0px;
    padding: 15px 12px;
    background-color: rgb(115, 87, 255);

    .messageTime {
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      color: rgb(255, 255, 255);
      margin-bottom: 12px;
    }
  }

  .inputContainer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;

    display: flex;
    align-items: center;
    padding: 12px;
    gap: 10px;

    background-color: #fff;
    border-top: 1px solid rgb(221, 221, 227);

    .userInput {
      width: 100%;
      padding: 12.5px;
      border: none;
      border-radius: 8px;
      background-color: rgb(232, 232, 237);
      outline: none;
      color: rgb(36, 36, 36);
    }

    button {
      border: none;
      background-color: #1b4182;
      color: #fff;
      padding: 11.5px;
      border-radius: 8px;
      font-size: 15px;
      font-weight: 500;
    }
  }
}
